{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/four/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/three/css/bootstrap.min.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'comment/css/comment.css' %}">
<style type="text/css">
    #bg{
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
</style>

{% include 'nav.html' %}

<body id="bg" style="background-image: url('{% static "img/white 1.jpg"%}');">


<div class="col-sm-12" style="padding-top: 60px">
<div id="content">
    <div class="col-sm-12">

<center><h1 style="color: #250CFF">SUST LMS: Online Education System</h1></center>



<center><img src="{% static "img/home.jpg" %}" alt="moses" class="card-img-top"></center>



<center><h1 style="color: #250CFF">We Make Things Happen For You</h1></center>
<br>
<br>


<div class="row">
    <div class="col-sm-4"></div>
<center><h2 style="color: #FF5300">Our Head of Departments</h2></center>   
</div>

<div class="row"> 
    <div class="col-sm-3">

      <div class="card">
        <img src="{% static "img/learner_mh.jpg" %}" alt="S.M. Mahamudul Hasan" height="320px" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">S.M. Mahamudul Hasan, Web Developer</h5>
                        <p class="card-text">
                            having more than 2 years of web developing and wordpress development experiences. Can create any kind of websites and ecommerce-site. Can think any rask easily. Energetic and highly motivated guy.
                        </p>
                    </div>
                </div> 

    </div> 
      <div class="col-sm-3"> 
          <div class="card">
        <img src="{% static "img/learner_pr.JPG" %}" alt="moses" height="320px" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Shahriar Parvez, Django Developer</h5>
                        <p class="card-text">
                            Big time Shahriar Parvez having coding in Django, Python Web Framwork with the combination of Machine Learning in order to solve people's problem by developing powerfully intelligent systems.
                        </p>
                    </div>
                </div> 
    </div>

    <div class="col-sm-3">
      <div class="card">
        <img src="{% static "img/instructor_emh.jpg" %}" alt="moses" height="320px" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Enamul Islam, Supervisor of Web Technologies</h5>
                        <p class="card-text"> Enamul Islam, has been working as supervisor ofWeb Technologies. His experience came after given administration role of all servers owned by Shahjalal University of Science and Technology
                        </p>
                    </div>
                </div> 
        
    </div> 

     <div class="col-sm-3"> 
          <div class="card">
        <img src="{% static "img/instructor_ass.jpg" %}" alt="moses" height="320px" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Arnab Sen, Supervisor of Web Technologies</h5>
                        <p class="card-text">
                            Arnab Sen, has been working as supervisor of Web Technooologies. His experience came after given adminitration role of all servers owned by Shahjalal Univeersity of Science and Technology.
                        </p>
                    </div>
                </div> 
    </div>

</div>



      
        
                </div>


<style type="text/css">
    #footer {
    position: absolute;
    height: 70px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
</style>                

          
            </div>

 <div class="row bg-dark" style="padding-top: 80px">           
<div class="fixed-bottom" id="footer">
{#    <center><p style="color: white">Powered by MotechApp ©2021</p></center>#}
</div>
</div>


        </div>









  
    <script type="text/javascript" src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>

</html>





</body>
</html>


